@import "libs/variable";
@import "libs/button";
@import "libs/pop-up";
@import "libs/header";
@import "libs/footer";
@import "libs/fonts";
@import "libs/fontello";
@import "libs/normalize";

body {
    position: relative;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s all ease;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

ul li,
ol li {
    margin: 0;
}
main{
    // padding-top: 365px;
    max-width: 100%;
    overflow-x: hidden;
    z-index: 1;
}
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}
p, a, li, span, h1, h2, h3, h4, h5, h6{
    color: var(--black-text);
}

.heading{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    font-family: var(--font-baeu);
    margin-bottom: 45px;
    padding-top: 22px;
    &:after, &:before{
        z-index: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        content: '';
    }
    &:after{
        width: 41px;
        height: 9px;
        background: var(--blue-color);
        bottom: 0;
    }
    &:before{
        top: -15px;
        font-size: 90px;
        color: #f5f2f0;
        font-weight: 900;
        height: 66px;
        width: 100%;
        text-align: center;
    }
    h2{
        font-weight: 400;
        z-index: 1;
        position: relative;
        span{
            font-weight: 700;
        }
    }
}
.heading1{
    &:before{
        content: '01';
    }
}
.heading2{
    &:before{
        content: '02';
    }
}
.heading3{
    &:before{
        content: '03';
    }
}
.heading4{
    &:before{
        content: '04';
    }
}
.heading5{
    &:before{
        content: '05';
    }
}
.crumbs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-bottom: 30px;
    li{
        position: relative;
        padding-right: 10px;
        a{
            font-size: 14px;
            color: var(--gray-color);
        }
        &:not(:last-of-type){
            &:before{
                content: '/';
                position: absolute;
                top: 2px;
                bottom: 0;
                right: 2px;
                font-size: 14px;
                color: var(--gray-color);
            }
        }
    }
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

a {
    cursor: pointer;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    overflow-y: hidden;

}

h1 {}

h2 {
    font-size: 25px;
    font-family: var(--font-baeu);
    span,strong{
        font-weight: 700;
    }
    strong{
        color: var(--blue-color);
    }
}

h3 {}

h4 {}

@media (min-width: 460px) {
    main{
        padding-top: 270px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 648px;
        padding: 0;
    }
    main{
        padding-top: 150px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 864px;
    }
    main{
        padding-top: 150px;
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1080px;
    }
    h2{
        font-size: 35px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1160px;
    }
}


@media (min-width: 1600px) {
    .container {
        width: 1280px;
    }
}


::-webkit-scrollbar {height: 5px; width: 5px;}
::-webkit-scrollbar-track {  background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: auto; background: linear-gradient(0deg,  #231f20 0%, #00aedb 100%); width: 5px; }

::-moz-scrollbar {height: 5px; width: 5px;}
::-moz-scrollbar-track {  background-color: #ffffff;}
::-moz-scrollbar-thumb { height: auto; background: linear-gradient(0deg,  #231f20 0%, #00aedb 100%); width: 5px; }

::-ms-scrollbar {height: 5px; width: 5px;}
::-ms-scrollbar-track {  background-color: #ffffff;}
::-ms-scrollbar-thumb { height: auto; background: linear-gradient(0deg,  #231f20 0%, #00aedb 100%); width: 5px; }